@import 'tailwindcss';

@theme {
  --color-primary: #5cc3b2;
  --color-primary-hover: #49aa9b;

  --color-black: #000000;
  --color-black-hover: #1a1a1a;

  --color-coral: #ef395c;
  --color-coral-hover: #d72c4f;

  --color-white: #ffffff;

  --color-gray: #5e5f5f;
  --color-gray-hover: #4a4a4a;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
